@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');



.center {
    text-align: center;
}

.textarea {
    width: 60%;
    height: 10vh;
    display: block;
    display: flex;
    margin: 5% 15%;
    padding: 1rem;
    font-weight: 1000;
}
#output {
    border: 1px solid black;
    width: 60%;
    height: 10vh;
    margin: 5% 15%;
    padding: 1rem;
    font-weight: 1000;
    font-size: 130%;
}
.button {
    width: 20%;
    margin: 2rem 33rem;
    background-color: #fbec5d;
    color : black;
    padding: 15px 32px;
    border: #fbec5d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 667px) {
    body {
      background-color: lightgreen;
    }
   
    
  }

