@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');



.center {
    text-align: center;
}

.textarea {
    width: 60%;
    height: 10vh;
    display: block;
    display: flex;
    margin: 5% 15%
    padding: 1rem;
    font-weight: 1000;
}
#output {
    border: 1px solid black;
    width: 60%;
    height: 10vh;
    display: flex;
    margin: 5% 15%;
    padding: 1rem;
    font-weight: 1000;
    font-size: 130%;
}
.button {
    width: 20%;
    margin: 2rem 33rem;
    background-color: #ffff00
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media screen and (max-width: 667px) {
    body {
      background-color: lightgreen;
    }
    button{
        margin: auto;
        width: 50%;
        justify-content: center;
        display: flex;
    }
    
  }

